[Unit]
Description=Gunicorn instance 
After=network.target
[Service]
User=asakovich		
Group=www-data
WorkingDirectory=/home/asakovich/flask
Environment="PATH=/home/asakovich/flask/env/bin"
ExecStart=/home/asakovich/flask/env/bin/gunicorn --workers 3 --bind unix:app.sock -m 007 wsgi:app
[Install]
WantedBy=multi-user.target
